{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <div class="d-flex">
      <div class="flex-shrink-0">
        <img class="rounded-circle account-img"
             src="{{ user.profile.image.url }}"
             height="{{ user.profile.image.height }}"
             width="{{ user.profile.image.width }}"
             alt="{{ user.username }} profile picture"/>
      </div>
      <div class="flex-grow-1 ms-3">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
  </div>
{% endblock content %}
